.center {
  text-align: center;
  border: 3px solid black;
}
.counter {
  font-size: 24px;
  line-height: 0;
  margin-right: 15px;
}
.operators {
  margin-right: 10px;
}
#number1, #number2{
  width: 80px;
}
p{
  margin: 0;
}